@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*
{
    background-color: #1A1A1A;
    color: #F0F0F0;
    font-family:"Roboto";
}

li > a, .formSubmit /* Applique le font family à tous les boutons*/
{
    font-family:"Roboto";
}

h1, h2, h3, h4, h5
{
    font-family:"Instrument Sans";
}

/* HEADER */

.headerMenu
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.headerMenu > li
{
    background-color: #00FF88;
    padding: 10px;
    border-radius: 10px;
    list-style: none;
    margin: 2rem;

}

.headerMenu > li > a
{
    background-color: inherit;
    color: #1A1A1A;
    text-decoration: none;
    font-weight: bold;
}

/* MAIN */


.connexionMainTitle
{
    display: flex;
    justify-content: center;
}

/* CONNEXION FORM */


.connexionForm
{
    background-color: #2A2A2A;
    border:3px solid #222; 
    border-radius: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 0 auto;

}

.connexionSubTitle
{
    background-color: inherit;
    font-size: 25px;
    color: #A0A0A0;
}

.connexionForm > div
{
    margin-bottom: 20px;
    background-color: inherit;
}

.connexionForm > div > label
{
    background-color: inherit;
    width: 10rem;
    display: flex;
    justify-content: center;
}

.connexionForm > div > input
{
    
    border-radius: 10px;
    border: 3px solid #444;
    padding: 5px;
}

.formSubmit
{
    background-color: #00FF88;
    color: #1A1A1A;
    font-weight: bold;
    font-size: large;
    padding: 10px;
    border-radius: 10px;
    border: 0px solid black;
}