* {
    box-sizing: border-box;
}

a
{
    color: black;
    text-decoration: none;
    padding: 3px;
}

a:hover
{
    background-color: #35999c;
    border-radius: 10px;
    /* border: 2px solid black; */
}

h1, h2, h3
{
    display: flex;
    justify-content: center;
}

ul
{
    list-style:none;
}


body
{
background-color: #C9F0F2;
}

            /* ##### LINKS ##### */

.links
{
    background-color: #55aaad;
    width:200px;
    border-radius: 20px;
    padding:3px;
    /* position: fixed;
    bottom: 0;
    left:43%;
    margin-left: 20px;
    margin-bottom: 20px; */
    
}

.links ul li
{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom:10px;
    margin-left:-30px;
    

}

.links ul li a
{
    margin: 0 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: #abdbdd;
    color: rgb(0, 0, 0);
}

.links ul li a:hover
{
    
    border-radius: 10px;
    background-color: #11585a;
    color: white;
    padding:5px;

}


/* ##### PERSO STATS BUILDER ##### */

/* .statsPower, .statsNinjutsu, .statsTaijutsu, .statsGenjutsu, .statsLife
{

    display: flex;
    margin-top:10px;
    text-align: left;
    flex-direction: column;

} */

.persoBuilderSlide
{
    width: 250px;
    display: flex;
    align-items: center;
    text-align: center;
    
    border-radius: 20px;
    background-color:rgb(245, 237, 169);
    border: 2px solid rgb(97, 28, 28);
    padding: 10px;
    /* position: fixed;
    bottom: 0;
    left:0; */
    margin-left: 20px;
    margin-bottom: 20px;

    flex-direction: column;
}

.persoBuilderSlideNamePerso
{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color:rgb(244, 247, 203); 
}


.persoBuilderGlobalSlide > li
{
    display:flex;
    justify-content:center;
}

.persoBuilderSlideStatsPerso
{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2px;
}

.persoBuilderSlideStatsPersoStatValue
{
    background-color:rgb(194, 236, 227);
    padding: 5px;
    border-radius: 10px;
    display: flex;
}

.persoBuilderSlideStatsPersoStatName
{
    margin-right:100px;
    display: flex;
    align-items: center;
    text-align: center;
}

/* ##### SUBRSCRIBE ##### */


.inscription > input
{

    border: 2px solid black;
    display: flex;

    text-align: center;
    padding: 3px;
    margin-top: 10px;
    border-radius: 20px;
    
}

.inscription
{
    display: flex;
    width: 250px;
    margin-left: 43%;
    flex-direction: column;
    margin-bottom: 20px;

}


/* ##### FIGHTS ##### */

.fightBuilderSlide, .fightContent
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;



    border: 0px solid black;
}

.fightBuilderSlide > div > p
{
    margin: 0 0px;
    border: 1px solid black;
    
}

.fightContent > div 
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    border: 0px solid black;
    margin-top: 5px;

    
}

.fightContentSlideLogin, .fightBuilderSlideLogin
{
    width: 150px;

}

.fightContentSlideName, .fightBuilderSlideName
{
    width: 150px;

}

.fightContentSlidePower, .fightBuilderSlidePower
{
    width: 100px;

}

.fightContentSlideWin, .fightBuilderSlideWin, .fightContentSlideLose, .fightBuilderSlideLose, .fightContentSlideKill, .fightBuilderSlideKill, .fightContentSlideDraw, .fightBuilderSlideDraw, .fightContentSlideLevel, .fightBuilderSlideLevel, .fightContentSlideFightButton, .fightBuilderSlideFightButton

{
    width: 75px;

}

.fightIntroBox
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;    
}

.fightProcessFinal
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    background-color:rgb(221, 220, 146);
    flex-direction: column;
    width: 300px;
    margin-left: 42%;
    margin-top: 20px;
}

.returnButtonFight
{
    background-color: antiquewhite;
    position: fixed;
    bottom: 0;
}